.cus-row {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0.4em 0.4em 0.1e #d9d8d9;
}

.cus-row:hover {
  background: #d9d8d9;
  border-radius: 10px;
}

.cus-row.selected {
  color: #fff;
  background: #3e8acc;
  border-radius: 10px;
}

.calender {
  margin-top: 10px;
}
