<div>
    <h2 id="page-heading">
        <span jhiTranslate="iluteenusteSystemApp.shop.home.title">Shops</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shop" [routerLink]="['/shop/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iluteenusteSystemApp.shop.home.createLabel">
            Create a new Shop
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shops?.length === 0">
        <span jhiTranslate="iluteenusteSystemApp.shop.home.notFound">No shops found</span>
    </div>

    <div class="container-fluid" *ngIf = "shops && shops.length > 0">
        <div id="a" class="row cus-card" *ngFor="let shop of shops ;trackBy: trackId" [routerLink]="['/shop', shop.id, 'view']"> 
            <div class="col-md-3">
                <img class="img-16-9" src = '{{"../../../content/images/" + shop.imgAadress + ".jpg"}}'>
            </div>
            <div class="col-sm-9" > 
                <div class="row " style="margin-left: 10px;" >
                    <div class="col-sm-10">
                        <b><p>{{ shop.name }}</p></b>
                    </div>
                    <div class="col-sm-2">
                        <p>1234</p>
                    </div>
                </div>
                <div class="row " style="margin-left: 10px;" >
                    <div class="col-sm">
                        <p>{{shop.aadress?.fullAadress}}</p>
                    </div>
                </div>
                <div class="row " style="margin-left: 10px;" >
                    <div class="col-sm">
                        <p>{{shop.description}}</p>
                    </div>
                </div>
                <div class="border-sub">
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-sm">
                            <p>Teenus 1</p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-sm">
                            <p>Teenus 2</p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-sm">
                            <p>Teenus 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
