<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shop">

            <jhi-alert-error></jhi-alert-error>

            <div class="container">
                <div class="row">
                    <h1>{{ shop.name }}</h1>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <i>{{shop.aadress?.fullAadress}}</i>
                </div>
                <div class="row">
                    <div class="img-16-9"><img src = '{{"../../../content/images/" + shop.imgAadress + ".jpg"}}'/></div>
                </div>
                <div class="row">
                    <h2><b>Teenused:</b></h2>
                </div>
                <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>

                <button type="button"
                    [routerLink]="['/shop', shop.id, 'create']"
                    class="btn btn-primary"
                    *jhiHasAnyAuthority="'ROLE_OWNER'">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
                </button>
                <button type="button"
                    [routerLink]="['/service-association-with-shop', shop.id , 'view' ]"
                    class="btn btn-primary"
                    *jhiHasAnyAuthority="'ROLE_OWNER'">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit services</span>
                </button>
                <button type="button"
                    class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Book</span>
                </button>
            </div>

            
        </div>
    </div>
</div>
