<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shop-heading" jhiTranslate="iluteenusteSystemApp.shop.home.createOrEditLabel">Create or edit a Shop</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.shop.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.shop.aadress" for="field_aadress">Aadress</label>
                    <input type="text" class="form-control" name="aadress" id="field_aadress"
                           formControlName="aadress"/>
                    <div *ngIf="editForm.get('aadress')!.invalid && (editForm.get('aadress')!.dirty || editForm.get('aadress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aadress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.shop.xCoordinate" for="field_xCoordinate">X Coordinate</label>
                    <input type="number" class="form-control" name="xCoordinate" id="field_xCoordinate"
                           formControlName="xCoordinate"/>
                    <div *ngIf="editForm.get('xCoordinate')!.invalid && (editForm.get('xCoordinate')!.dirty || editForm.get('xCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('xCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('xCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.shop.yCoordinate" for="field_yCoordinate">Y Coordinate</label>
                    <input type="number" class="form-control" name="yCoordinate" id="field_yCoordinate"
                           formControlName="yCoordinate"/>
                    <div *ngIf="editForm.get('yCoordinate')!.invalid && (editForm.get('yCoordinate')!.dirty || editForm.get('yCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('yCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('yCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="iluteenusteSystemApp.shop.client" for="field_clients">Client</label>
                    <select class="form-control" id="field_clients" multiple name="clients" formControlName="clients">
                        <option [ngValue]="getSelected(editForm.get('clients')!.value, clientOption)" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
