<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="iluteenusteApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iluteenusteApp.client.isShopOwner">Is Shop Owner</span></dt>
                <dd>
                    <span>{{ client.isShopOwner }}</span>
                </dd>
                <dt><span jhiTranslate="iluteenusteApp.client.tel">Tel</span></dt>
                <dd>
                    <span>{{ client.tel }}</span>
                </dd>
                <dt><span jhiTranslate="iluteenusteApp.client.user">User</span></dt>
                <dd>
                    {{ client.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
