<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aadress-heading" jhiTranslate="iluteenusteSystemApp.aadress.home.createOrEditLabel">Create or edit a Aadress</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.fullAadress" for="field_fullAadress">Full Aadress</label>
                    <input type="text" class="form-control" name="fullAadress" id="field_fullAadress"
                           formControlName="fullAadress"/>
                    <div *ngIf="editForm.get('fullAadress')!.invalid && (editForm.get('fullAadress')!.dirty || editForm.get('fullAadress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fullAadress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fullAadress')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.zipCode" for="field_zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                           formControlName="zipCode"/>
                    <div *ngIf="editForm.get('zipCode')!.invalid && (editForm.get('zipCode')!.dirty || editForm.get('zipCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('zipCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('zipCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.xCoordinate" for="field_xCoordinate">X Coordinate</label>
                    <input type="number" class="form-control" name="xCoordinate" id="field_xCoordinate"
                           formControlName="xCoordinate"/>
                    <div *ngIf="editForm.get('xCoordinate')!.invalid && (editForm.get('xCoordinate')!.dirty || editForm.get('xCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('xCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('xCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.yCoordinate" for="field_yCoordinate">Y Coordinate</label>
                    <input type="number" class="form-control" name="yCoordinate" id="field_yCoordinate"
                           formControlName="yCoordinate"/>
                    <div *ngIf="editForm.get('yCoordinate')!.invalid && (editForm.get('yCoordinate')!.dirty || editForm.get('yCoordinate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('yCoordinate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('yCoordinate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                    <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.county" for="field_county">County</label>
                    <input type="text" class="form-control" name="county" id="field_county"
                           formControlName="county"/>
                    <div *ngIf="editForm.get('county')!.invalid && (editForm.get('county')!.dirty || editForm.get('county')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('county')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('county')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('county')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.countryCarCode" for="field_countryCarCode">Country Car Code</label>
                    <input type="text" class="form-control" name="countryCarCode" id="field_countryCarCode"
                           formControlName="countryCarCode"/>
                    <div *ngIf="editForm.get('countryCarCode')!.invalid && (editForm.get('countryCarCode')!.dirty || editForm.get('countryCarCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('countryCarCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('countryCarCode')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('countryCarCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 3 }">
                        This field cannot be longer than 3 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iluteenusteSystemApp.aadress.shop" for="field_shop">Shop</label>
                    <select class="form-control" id="field_shop" name="shop" formControlName="shop">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shopOption.id === editForm.get('shop')!.value?.id ? editForm.get('shop')!.value : shopOption" *ngFor="let shopOption of shops; trackBy: trackById">{{ shopOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
