<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="service">
            <h2><span jhiTranslate="iluteenusteSystemApp.service.detail.title">Service</span> {{ service.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iluteenusteSystemApp.service.name">Name</span></dt>
                <dd>
                    <span>{{ service.name }}</span>
                </dd>
                <dt><span jhiTranslate="iluteenusteSystemApp.service.sex">Sex</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'iluteenusteSystemApp.Sex.' + service.sex }}">{{ service.sex }}</span>
                </dd>
                <dt><span jhiTranslate="iluteenusteSystemApp.service.forChild">For Child</span></dt>
                <dd>
                    <span>{{ service.forChild }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service', service.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
